<h1>Listing programas</h1>

<table class="table table-hover" style="margin:0; padding:0">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Es maestria</th>
      <th>Duracion</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @programas.each do |programa| %>
      <tr>
        <td><%= programa.nombre %></td>
        <td><%= programa.es_maestria %></td>
        <td><%= programa.duracion %></td>
        <td><%= link_to raw("<i class=\"icon-search\"></i>"), programa %></td>
        <td><%= link_to raw("<i class=\"icon-pencil\"></i>"), edit_programa_path(programa) %></td>
        <td><%= link_to raw("<i class=\"icon-trash\"></i>"), programa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><%= page_entries_info @programas %> <%= will_paginate @programas %></center>
<span><%= link_to 'New Programa', new_programa_path, class:"btn btn-primary",:style=>'color:#FFFFFF;' %></span>
<br>

