
<h2>AGREGAR CURSOS</h2>
<%=form_tag(controller: "optimizador", action: "agregarOferta") do%>  
  <div class="field">
    <%= label :curso_id, 'Curso a agregar:'%>
    <%= select_tag(:curso_id, 
      options_from_collection_for_select(Curso.all, :id, :nombre)
      )
    %>
  </div>
   <div class="field">
    <%= label :cupos, 'Cupos del curso:'%>
    <%= text_field_tag 'cupos' %>
  </div>
  
  <div class="actions">
    <%= submit_tag("Agregar oferta") %>
  </div>
<% end %>
