<div align="center">
	<span style="float:right;"><%= link_to 'Guardar escenario', {:controller => "escenarios", :action => "new"},:class=>"btn btn-info",:style=>'color:#FFFFFF;' %></span>
	<h1>CURSOS SUGERIDOS</h1>
	<table  id="table_oferta" class="table table-condensed">
	  	<thead>
			<tr>
		  		<th align="center" width="50px">Curso</th>
		  		<th align="center" width="200px">Cupos</th>
		  		<th align="center" width="100px">Eliminar sección</th>
		  		<th align="center" width="100px">Cambiar cupos</th>
			</tr>
	  	</thead>
	  	<tbody>
	<% @ofertaSorted.each do |id,oferta| %>
		  	<tr>
				<td align="center" width="50px">				  
    				<%= link_to oferta.curso.nombre,:controller => "optimizador", :action => "asignacionCupos", :curso_id => oferta.curso.id, :cupos => oferta.cupos%>
    			</td>
				<td align="center" width="200px">  
    				<p width="200px"><%= oferta.cupos %></p>
    			</td>   
       			<td>
       				<%=link_to raw("<i class=\"icon-remove\"></i>")+" curso",:controller => "optimizador", :action => "eliminarOferta", :curso_id => id%>
       			</td>   
       			<td>
       				<%=link_to raw("<i class=\"icon-plus\"></i>")+" cupos",:controller => "optimizador", :action => "agregarCupo", :curso_id => id%>
       				<%=link_to raw("<i class=\"icon-minus\"></i>")+" cupo",:controller => "optimizador", :action => "quitarCupo", :curso_id => id%>
       			</td>    
		  	</tr>
	<% end %>
	  	</tbody>	
	</table>
	<br><br>
	<%= link_to 'Ver estadisticas',{:controller => "optimizador", :action => "estadisticas"},:class=>"btn btn-info",:style=>'color:#FFFFFF;' %>
	<br><br>
	<%= render 'formOferta' %>
	
	<br><br>
	<h3>DETALLE DE CONFLICTOS</h3>
	<body>
	  <table id="table_conflictos_criticos" border="1" width="100%">
	    <tr>
	      <td>Conflictos Criticos(<%= @conflictosCrtiticos.count %>)</td>
	      <td width="100px"><div align="center" id="estadoT" onClick="desplegar('tabla_a_desplegar_critico','estadoT', 'estadoTfila')" style="background: #EE5566; cursor: pointer;"><%=@texto%></div></td>
	    </tr>
	    <tr>
	      <td align="center" border="3" colspan="2">
	        <table  id="tabla_a_desplegar_critico" style="display:<%=@mostrar%>;">
	            <tr style="background: #CCCCCC" align="center">
	              <th align="center" width="310px">Estudiante</th>
			  	  <th align="center" width="310px"># Materias preinscritas</th>
			  	  <th align="center" width="310px"># Materias Asignadas</th>
	            </tr>
	            <% @conflictosCrtiticos.each do |id,val| %>
			  	<tr>
					<td align="center"> 				  
	    				<%= @demandaEstudiantes[id].nombre %>
	    			</td>
					<td align="center">  
	    				<%= @demandaEstudiantes[id].demanda %>
	    			</td>   
	       			<td>
	       				<%= 0 %>
	       			</td>     
			  	</tr>
				<% end %>
	        </table>
	      </td>
	    </tr>
	  </table>
	<br><br>
	<table id="table_otros_conflictos" border="1" width="100%">
	    <tr>
	      <td>Conflictos Leves(<%= @otrosConflictos.count %>)</td>
	      <td width="100px"><div align="center" id="estadoT1" onClick="desplegar('tabla_a_desplegar_leve','estadoT1', 'estadoTfila')" style="background: #EE5566; cursor: pointer;"><%=@texto%></div></td>
	    </tr>
	    <tr>
	      <td align="center" border="3" colspan="2">
	        <table  id="tabla_a_desplegar_leve" style="display:<%=@mostrar%>;">
	            <tr style="background: #CCCCCC" align="center">
	              <th align="center" width="310px">Estudiante</th>
			  	  <th align="center" width="310px"># Materias preinscritas</th>
			  	  <th align="center" width="310px"># Materias Asignadas</th>
	            </tr>
	           <% @otrosConflictos.each do |id,val| %>
			  	<tr>
					<td align="center"> 				  
	    				<%= @demandaEstudiantes[id].nombre %>
	    			</td>
					<td align="center">  
	    				<%= @demandaEstudiantes[id].demanda %>
	    			</td>   
	       			<td>
	       				<%= @cuantasEstudiantes[id] %>
	       			</td>     
			  	</tr>
			   <% end %>
	        </table>
	      </td>
	    </tr>
	  </table>
	<br><br>
	<table id="table_demanda_cursos" border="1" width="100%">
	    <tr>
	      <td>Demanda Total de Cupos(<%= @demandaEstudiantes.count %>)</td>
	      <td width="100px"><div align="center" id="estadoT2" onClick="desplegar('tabla_a_desplegar_demanda','estadoT2', 'estadoTfila')" style="background: #CC3322; cursor: pointer;"><%=@texto%></div></td>
	    </tr>
	    <tr>
	      <td align="center" border="3" colspan="2">
	        <table  id="tabla_a_desplegar_demanda" style="display:<%=@mostrar%>;">
	            <tr style="background: #CCCCCC" align="center">
	              <th align="center" width="310px">Estudiante</th>
			  	  <th align="center" width="310px"># Materias preinscritas</th>
			  	  <th align="center" width="310px"># Materias Asignadas</th>
	            </tr>
	           <% @demandaEstudiantes.each do |id,est| %>
			  	<tr>
					<td align="center"> 				  
	    				<%= est.nombre %>
	    			</td>
					<td align="center">  
	    				<%= est.demanda %>
	    			</td>   
	       			<td>
	       				<%= @cuantasEstudiantes[id] %>
	       			</td>     
			  	</tr>
			   <% end %>
	        </table>
	      </td>
	    </tr>
	  </table>
</div>
