<%= form_for(@pensum) do |f| %>
  <% if @pensum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pensum.errors.count, "error") %> prohibited this pensum from being saved:</h2>

      <ul>
      <% @pensum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.select(:curso_id, 
        options_from_collection_for_select(Curso.all, :id, :nombre)
        )
    %>
  </div>
  <div class="field">
    <%= f.select(:programa_id, 
        options_from_collection_for_select(Programa.all, :id, :nombre)
        )
    %>
  </div>
  <div class="field">
    <%= f.select(:semestre, 
      $semestres.map { |value| [ value, value ] }
      )
    %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
