<h1>Listing pensums</h1>

<table>
  <thead>
    <tr>
      <th>Curso</th>
      <th>Programa</th>
      <th>Semestre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pensums.each do |pensum| %>
      <tr>
        <td><%=pensum.curso.nombre%></td>
        <td><%=pensum.programa.nombre%></td>
        <td><%=pensum.semestre%></td>
        <td><%= link_to 'Show', pensum %></td>
        <td><%= link_to 'Edit', edit_pensum_path(pensum) %></td>
        <td><%= link_to 'Destroy', pensum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pensum', new_pensum_path %>
