<h1>Plan de estudios del estudiante <%= $estudiante.nombre %></h1>
<table id="table_plans">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Semestre</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.curso.nombre %></td>
        <td><%= plan.semestre %></td>
        <td><%=link_to "Eliminar del plan de estudios",:controller => "plans", :action => "eliminar", :curso_id => plan.curso.id%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar materia al plan de estudios', new_plan_path %>
