<%= form_for(@escenario) do |f| %>
  <% if @escenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@escenario.errors.count, "error") %> prohibited this escenario from being saved:</h2>

      <ul>
      <% @escenario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
